<%- include("partials/header.ejs") %>
<div class="container">
    <div class="box-register my-5">
        <h2 align = 'center' class="my-2">Register</h2> 
        <form action="/register" method="POST" enctype='multipart/form-data'>
        <div class="row">
            <div class="mb-3 mx-5 col-md-5">
                <label for="form-label"><h5>Firstname</h5></label>
                <input type="text" name="firstname" class="form-control" placeholder="Your Firstname">
            
            </div>
            <div class="mb-3 col-md-5">
                <label for="form-label"><h5>Lastname</h5></label>
                <input type="text" name="lastname" class="form-control" placeholder="Your Lastname">
            </div>
        </div>
        <div class="mb-3 mx-5">
            <label class="form-label"><h5>Username</h5></label>
            <input type="text" class="form-control" name= "username" placeholder="Your Username">
        </div>
        <div class="mb-3 mx-5">
            <label class="form-label"><h5>Password</h5></label>
            <input type="password" class="form-control" name= "password" placeholder="Your Password">
        </div>
        <div class="mb-3 mx-5">
            <label class="form-label"><h5>E-mail</h5></label>
            <input type="email" class="form-control" name="email" placeholder="Your e-mail address">
        </div>
        <div class="mb-3 mx-5">
            <label class="form-label"><h5>Profile image</h5></label>
            <input type="file" class="form-control" name="profileImage" accept="image/*">
        </div>
        <!-- <div class="mb-3 mx-5">
            <label class="form-label"><h5>Admin code</h5></label>
            <input type="text" class="form-control" name="adminCode" placeholder="Type admin code here">
        </div> -->
        <button type="submit" class="btn btn-primary ok">Register</button>
        </form>
    </div>
</div>

<%- include("partials/footer.ejs") %>